.bg-primary {
  background-color: #00a884 !important;
}

#nav-text {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  vertical-align: middle;
  margin-left: 14px;
}

a {
  text-decoration: none !important;
  color: #fff;
}

.App {
  height: 100vh;
}

main {
  height: 80%;
}

footer {
  font-size: 10px;
}
